img {
  max-width: 100%;
  max-height: 100%;
}
.tour-img {
  height: 200px;
  width: 330px;
}
h4,
p {
  color: #f1f8fd;
}
h4 {
  font-size: 20px;
  text-align: left;
}
h6 {
  color: #f6c667;
  text-align: left;
}
p {
  font-size: 15px;
  opacity: 0.7;
  line-height: 20px;
  text-align: left;
}
button {
  padding: 7px;
  margin: auto;
  border: 2px solid #f6c667;
  background-color: #f6c667;
  color: #f1f8fd;
  font-size: 15px;
}
button:hover {
  background-color: #007cb9;
}
.show-btn {
  color: #f6c667;
  background-color: #007cb9;
  font-size: 13px;
  border: none;
}
