.tours {
  max-width: 800px;
  /* border: 2px solid #f1f8fd;
  border-radius: 9px; */
}
/* button {
  padding: 7px;
  margin: auto;
  position: relative;
  left: 198px;
  border: 2px solid #f6c667;
} */
